body
{
	background-color:#e6e6e6;
}

#navigation 
{
	margin:0px; padding:0px;
		
}
#nav_wrap ul li
{
	float:left;
	width:100px;
	height:40px;
	background-color:#990000;
	font-size:16px;
	line-height:40px;
	text-align:center;
	list-style:none;
	position: relative;
}
#nav_wrap ul li a
{
	text-decoration:none;
	color:#ffb3b3;
	display:block;
	
}
#nav_wrap ul li:hover
{
	background-color:#ffb3b3;
	
}


#nav_wrap ul li a:hover
{
	color:990000;
}
#nav_wrap ul li a,visited
{
	color:#e60000;
	display:block;
	
	text-decoration:none;
}

#nav_wrap ul li:hover ul
{
	display:block;
}
#nav_wrap ul ul
{
	display: none;
	position:absolute;	
	background-color:#990000;
	border: 5px solid #b30000;
	border-top:0;
	margin-left: -5px;
	
}
#nav_wrap ul ul li{
	display:block;
	text-align:left;
}
#nav_wrap ul ul li a,visited
{
	color: #ffb3b3
}
#nav_wrap ul ul li a:hover{
	color:#990000;
}
#nav_wrap
{
	width: 960px;
	margin: 0 auto;
	text-align: left;
}

#information
{
	padding:50px 0px;
}
#information ul li
{
	float:left;
	width:100px;
	height:30px;
	line-height:30px;
	text-align:center;
	position:relative;
	display:block;

}
